.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.skills__list-item img {
  margin: 0.5rem 1rem;
  width: 3.5rem;
  height: 3rem;
}

.skills__list-item img.bigger {
  width: 5rem;
}

.skills__list-item {
  flex-wrap: wrap;
}
