.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.skills__list-item img {
  margin: 0.5rem 1rem;
  width: 3.5rem;
  height: 3rem;
  transition: 200ms;
}

.skills__list-item img:hover {
  transform: translateY(-10px);
}

.skills__list-item img.bigger {
  width: 7rem;
}

.skills__list-item {
  flex-wrap: wrap;
}
