#contact {
  background-image: url("/assets/background/long-wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 105vh;
  max-width: none;
}

.contact__email-link a {
  line-height: 4rem;
  transition: 200ms;
}

.contact__email-link a:hover {
  text-shadow: 0 0 10px #84aecc;
}
