.light .introduction__logo {
  background-image: url("/assets/logo/aplogo-profile.svg");
}

.dark .introduction__logo {
  background-image: url("/assets/logo/aplogo-profile-dark.svg");
}

.introduction__logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.introduction__profile-picture {
  background-image: url("/assets/background/rounded-hexagon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.introduction__background-overlay {
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.introduction__background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}

.introduction__background-video--light {
  opacity: 0.5;
}

.introduction__background-video--dark {
  opacity: 0.2;
}

.introduction__video-gradient {
  width: 100vw;
  height: 90vh;
  position: absolute;
  background: linear-gradient(
    0deg,
    hsl(var(--nextui-background)) 30%,
    #ff000000 90%
  );
  z-index: 2;
  top: 0;
  left: 0;
}

.light .introduction__background-video--dark {
  display: none;
}

.dark .introduction__background-video--light {
  display: none;
}

.introduction__divider {
  background: hsl(var(--nextui-background));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  z-index: 20;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.dark .introduction__divider {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
}

.introduction__divider .textAnimation {
  transform: translateX(-100%);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.introduction__divider .textAnimation {
  animation: slideIn 30s infinite linear;
}

#introduction {
  padding-top: 4rem;
}

@media screen and (min-width: 0px) {
  #introduction {
    flex-direction: column;
    text-align: center;
  }

  .introduction__profile-picture {
    width: 100%;
  }
  .introduction__profile-picture img {
    width: 30rem;
  }
  .introduction__logo {
    width: 12rem;
    height: 12rem;
  }

  .introduction__text-content {
    width: 100%;
    padding: 0 1.5rem;
  }

  .introduction__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
  }

  .introduction__text-content-title .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 750px) {
  .introduction__profile-picture {
    width: 90%;
  }
}

@media screen and (min-width: 850px) {
  .introduction__profile-picture {
    width: 85%;
  }
  .introduction__profile-picture img {
    width: 35rem;
  }
  .introduction__logo {
    width: 15rem;
    height: 15rem;
  }

  .introduction__text-content {
    width: 70%;
    margin-bottom: 4rem;
  }

  .introduction__text-content-title .title {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1030px) {
  .introduction__profile-picture {
    width: 70%;
  }
  .introduction__profile-picture img {
    width: 33rem;
  }
}

@media screen and (min-width: 1220px) {
  .introduction__profile-picture {
    width: 55%;
  }
  .introduction__profile-picture img {
    width: 30rem;
  }
}

@media screen and (min-width: 1430px) {
  #introduction {
    flex-direction: row;
    text-align: inherit;
  }

  .introduction__profile-picture {
    width: 35%;
  }

  .introduction__profile-picture img {
    width: 23rem;
  }

  .introduction__text-content {
    display: inline-block;
    width: 37%;
  }

  .introduction__logo {
    width: 12rem;
    height: 12rem;
  }

  .introduction__text-content-subtitle {
    text-indent: 3rem;
  }
}

@media screen and (min-width: 1520px) {
  .introduction__profile-picture {
    width: 42%;
  }

  .introduction__profile-picture img {
    width: 28rem;
  }

  .introduction__text-content {
    width: 40%;
  }

  .introduction__logo {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (min-width: 1650px) {
  #introduction {
    padding-top: 0;
  }

  .introduction__profile-picture {
    width: 45%;
  }

  .introduction__profile-picture img {
    width: 30rem;
  }

  .introduction__text-content {
    width: 45%;
  }
}

@media screen and (min-width: 1810px) {
  .introduction__profile-picture {
    width: 100%;
  }

  .introduction__profile-picture img {
    width: 38.6rem;
  }
  .introduction__text-content {
    width: 70%;
  }

  .introduction__logo {
    width: 20rem;
    height: 20rem;
  }
}
