@media screen and (min-width: 0px) {
  .projects-modal {
    max-height: 80vh;
  }

  .projects-modal__header,
  .projects-modal__body {
    flex-direction: column;
  }

  .projects-modal__image-crop {
    display: inline-block;
    overflow-y: scroll;
  }
  .projects-modal__body-text {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .projects-modal__image {
    transition: transform 5000ms !important;
    overflow: hidden;
  }
  .projects-modal__image:hover {
    transform: translateY(calc(-100% + 24rem));
  }
  .projects-modal__body-text {
    max-width: 24rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1440px) {
}
