.projects__card-header {
  transition: 200ms;
}

.projects__card:hover .projects__card-header {
  opacity: 0;
}

.projects__card:hover .projects__card-image {
  transform: scale(1.5) translateY(-10px);
}

.projects__card:hover .projects__card-button {
  background: hsl(var(--nextui-primary));
}

.projects__card {
  max-width: 28rem;
  width: 90%;
}

/* To copy */

.projects__list {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) {
  .projects__paragraph-description {
    max-width: 9rem;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .projects__list {
    max-width: 80%;
  }
  .projects__paragraph-description {
    max-width: 14rem;
  }
}

@media screen and (min-width: 1700px) {
  .projects__list {
    max-width: 100%;
  }
}
