.about__photos-grid {
  max-width: 40vw;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);

  gap: 1rem;
}

.about__text-content {
  max-width: 40rem;
}

.awards__list li {
  margin-bottom: 0.6rem;
}

.awards__list-item {
  width: 1.7rem;
}