.about__photos-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(6, auto);

  gap: 1rem;
}

.about__text-content {
  max-width: 40rem;
}

.awards__list li {
  margin-bottom: 0.6rem;
}

.awards__list-item {
  width: 1.7rem;
}

/* To copy */

@media screen and (min-width: 0px) {
  .about__photos-grid,
  .about__text-content {
    max-width: 95vw;
    margin: 0 auto;
  }

  .about__text-content {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
  .about__photos-grid,
  .about__text-content {
    max-width: 80vw;
  }
}

@media screen and (min-width: 1024px) {
  .about__photos-grid,
  .about__text-content {
    max-width: 70vw;
  }

  .about__text-content {
    padding: 0 0;
  }
}

@media screen and (min-width: 1730px) {
  .about__photos-grid,
  .about__text-content {
    max-width: 30vw;
  }
}
